<!DOCTYPE html>
<html>
     <head>
      <link rel = "stylesheet" href = "/css/styles.css" >
     </head>

     <body>
        {{>header}}
       
       <img src = "/images/sample.jpeg" />
      
        {{>footer}}
     </body>

</html>